/* map css */
#map {
    max-width:1200px; 
    height: 400px; 
}

/* chat css */
#ob {  
    /*  chat output box */
    position:absolute:
    top: 10px;
    left:10px;
    right:10px;
    height:150px;
    border:1px solid;
}
#ib {
    /*  chat input box */
    display:inline-block;
    border: 1px solid;
    margin-top: 1px;
    position:absolute;
    left:10px;
    width: 88%;
}
#sb {
    /*  chat submit button */
    display:inline-block;
    margin: 0;
    position:absolute;
    right:10px;
    width: 10%;
}

