/* map css */
#map {
    height: 550px; 
    cursor: crosshair;
}

#map img[src^="/static/map/2"] {
    border: 1px solid red;
    margin: -1px;
}

#chat {
}
#chat-output {
    width: 100%;
    height:200px;
    overflow-y: scroll;
    border: 1px solid;
}
#chat-input {
    width: 100%;
}

#info {
    border: 1px solid #dddddd;
    height:25px;
}
#info button {
    padding: 0 5px;
}
#recipes div.selected {
    background-color:#ddddff;
}

#recipe .grid td {
    font-size: 8pt;
    text-align: center;
    border: 1px solid;
    width: 120px;
    height: 60px;
}
