body {
    font-size: 1.2em;
}

.navbar {
    margin-bottom: 0px;
}
.navbar a {
    font-size: 1.5em;
}

ul.navbar-right {
    margin-right: 5px;
}
.navbar-form input.login-pin {
    width: 60px;
}

#entity-info,
#entity-info b,
#location-info {
    overflow-y: hidden;
    font-size: 1.1em;
    line-height: 1.3em;
    min-height: 1.5em;
}

#entity-info button {
    padding: 0;
    font-size: 1.1em;
    line-height: 1.3em;
}

div.chat-post {
    background-color: #ddddff;
    font-size: 1.1em;
    line-height: 1.4em;
    border-bottom: 1px solid #eeeeff;
}
div.chat-post button {
    font-size: 0.9em;
    line-height: 1.0em;
}

div.chat-msg {
    background-color: #ffffff;
    font-size: 1.1em;
}
div.chat-info {
    background-color: #ffffdd;   
    font-size: 1.1em;
    line-height: 1.4em;
}

#map {
    height: 550px; 
    cursor: crosshair;
}

#map img[src^="/static/map/2"] {
    border: 1px solid red;
    margin: -1px;
}

#chat {
}
#chat-output {
    width: 100%;
    height:200px;
    overflow-y: scroll;
    border: 1px solid;
}

#chat-input,
#userlist {
    width: 85%;
    min-height: 3em;
    line-height: 2em;
    font-size: 1em;
}

#userlist {
    width:13%;
}

#recipes div.selected {
    background-color:#ddddff;
}

#recipe .grid td {
    font-size: 1.1em;
    text-align: center;
    border: 1px solid;
    width: 120px;
    height: 60px;
}
