{% extends "base.html" %}


{% block title %}RaTilicus 7D2D About{% end %}

{% block head %}
{% end %}

{% block script %}
{% end %}

{% block body %}
<br>
<br>

Hi, I'm RaTilicus this is my website for the 7 Days To Die Server I am hosting.<br>
The server is hosted on the same url as this 7d2d.ratilicus.com on port 25000.<br>

Logins and passwords are offered to all players who enter the server in the welcome message.<br>
There are a couple benefits to logging in such as:<br>
<ul>
<li>Logged in player can create personalized markers (Marker with their user name) that other users cannot remove</li>
<li>Logged in player can create hidden markers (start the title of the marker with a '*' to make it hidden).
<li>There are other planned features that will only be available to logged in players only.</li>
</ul>
<br>
If you have any comments or suggestions feel free to contact me at <a href="mailto:rat@ratilicus.com">rat@ratilicus.com</a>.<br>
<br>

<h4>Map Legend<h4>

<ul>
<li>green circles = players</li>
<li>white circles = animals: deer, pigs, rabbits</li>
<li>dark gray circles = dead/killed animals, players, zombies</li>
<li>orange circles = zombies</li>
<li>red circles = dangerous zombies: cop zombies, dogs</li>
<li>yellow squares = player made markers<br>
- click on marker to view details<br>
- click anywhere on map to create a marker<br>
- to create a private marker only you can see put a * in front of the description (note: you have to be logged in)
</li>
<li>To log in type your in-game player name, and the 4 digit number in the welcome message in the game is the password.</li>
<li>Note: The server is currently running with Anti-Cheat off.  Since Alpha 11 release, my linux 32bit client of 7d2d doesn't start.<br>
The 64bit client does work (currently), but it does not seem to support the Anti-Cheat, so I have to have it disabled, for now.</li>
</ul>


{% end %}
