<!DOCTYPE html>
<html lang="en">
<head>
<title>7d2d.RaTilicus.com{% block title %}7D2D.RaTilicus.com{% end %}</title>

<meta name='viewport' content='user-scalable=0'>

<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<link rel="stylesheet" href="/static/sdtd.css?t={{t}}" />

<script src="/static/underscore-min.js"></script>

{% block head %}
{% end %}

<script>
{% block script %}
function start() {
}
{% end %}
</script>
</head>

<body onload="start()">
<div class="container-disabled">
<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/">7D2D.RaTilicus.com</li>
        <li><a class="navbar-brand" href="/about/">About</a></li>
        <li><a class="navbar-brand" href="/recipes/">Recipes</a></li>
    </ul>
    {% if not user %}
        <form class="navbar-form navbar-right" role="login" method="POST" action="/login/">{% module xsrf_form_html() %}
            <div class="form-group">
                <input type="text" placeholder="Player Name" name="username" class="form-control login-username" value="{{ username }}">
            </div>
            <div class="form-group">
                <input type="text" placeholder="####" name="password" class="form-control login-pin">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            &nbsp;
        </form>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user['username'] }} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/logout/">Logout</a></li>
                </ul>
            </li>
        </ul>
    {% end %}
</nav>

{% block body %}{% end %}
</div>
</body>
</html>

